mat-card {
  width: 80%;
  height: auto;
  display: inline-block;
  align-self: center;
}

mat-card-header {
  display: initial;
}

.main_component {
  height: 100vh;
}

.div-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.buttons{
  padding: 5px;
}

button{
  width: 100px;
  margin-top: 5px;
}

.box{
  width: 80%;
  margin: 0 auto;
}

.image {
  width: 200px;
}

.red-text {
  color: red;
}
